




















/** DIV CON VIDEOS-------------------------------------------------------------------------*/
#divNavideño{
    background-color: #018667;
    text-align: justify;
    font-weight: bold;
}













/** FOOTER ---------------------------------------------------------------------------------*/
.textoFooter{
    color: #FFFFFF;
}

.footerColorPrimary{
    background-color: #018667;
}
.footerColorSecundary{
    background-color: #003F2D;
}