#m_navegador {
    background-color: #018667;
}

.carrusel {
    padding-top: 5%;
}

#imagen-dulce{
    width: 100%;
}


































/** FOOTER ---------------------------------------------------------------------------------*/
.textoFooter{
    color: white;
}

.footerColorPrimary{
    background-color: #018667;
}
.footerColorSecundary{
    background-color: #003F2D;
}