






































/** FOOTER ---------------------------------------------------------------------------------*/
.textoFooter{
    color: white;
}

.footerColorPrimary{
    background-color: #018667;
}
.footerColorSecundary{
    background-color: #003F2D;
}